<div class="container mx-auto mt-10">
    <div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-4">Cadastro</h2>
        <form class="space-y-4" [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700 mb-2" for="name">
                    Nome:
                </label>
                <input type="text" id="name" formControlName="name" class="w-full px-4 py-2 border rounded-lg">
                <div *ngIf="myForm.get('name')?.hasError('pattern')" class="text-red-500">
                    Nome inválido.
                </div>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium">Email:</label>
                <input type="text" id="email" formControlName="email" class="w-full px-4 py-2 border rounded-lg">
                <div *ngIf="myForm.get('email')?.hasError('pattern')" class="text-red-500">
                    Email inválido.
                </div>
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700 mb-2" for="password">
                    Senha:
                </label>
                <input
                    class="w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="password" type="password" placeholder="************">
            </div>
            <div class="mb-4">
                <label for="foto" class="block text-sm font-medium">URL da Foto:</label>
                <input type="text" id="foto" name="foto" formControlName="foto"
                    class="w-full px-4 py-2 border rounded-lg">
                <div *ngIf="myForm.get('foto')?.hasError('pattern')" class="text-red-500">
                    URL inválida.
                </div>
            </div>
            <div class="mb-4">
                <label for="cep" class="block text-sm font-medium">URL da cep:</label>
                <input type="text" id="cep" name="cep" formControlName="cep" class="w-full px-4 py-2 border rounded-lg">
                <div *ngIf="myForm.get('cep')?.hasError('pattern')" class="text-red-500">
                    CEP inválido.
                </div>
            </div>
            <button type="submit"
                class="w-full bg-blue-500 text-white text-sm font-semibold py-2 rounded-lg hover:bg-blue-600">Cadastrar</button>
        </form>
    </div>
</div>