<header class="bg-fundo py-2">
    <div class="container mx-auto flex items-center justify-between">
      <div class="flex items-center">
        <img src="/src/assets/images/logo.png" alt="Logo" class="h-10">
      </div>
      <div class="flex items-center space-x-4">
        <input type="text" placeholder="Pesquisar" class="rounded-lg py-2 px-3 border border-gray-300">
        <select class="rounded-lg py-2 px-3 border border-gray-300">
          <option value="filtro1">Filtro 1</option>
          <option value="filtro2">Filtro 2</option>
          <option value="filtro3">Filtro 3</option>
        </select>
      </div>
      <div>
        <p class="text-white text-lg">Sign Up</p>
      </div>
    </div>
  </header>
  