<div class="container mx-auto mt-10">
    <div class="max-w-md mx-auto">
        <h2 class="text-2xl font-semibold mb-4">Cadastrar Nova Receita</h2>
        <form (submit)="cadastrarReceita">
            <div class="mb-4">
                <label for="nome" class="block text-sm font-medium">Nome da Receita:</label>
                <input type="text" id="nome" name="nome" [(ngModel)]="receita.nome" required
                    class="w-full px-4 py-2 border rounded-lg">
            </div>
            <div class="mb-4">
                <label for="ingredientes" class="block text-sm font-medium">Ingredientes:</label>
                <textarea id="ingredientes" name="ingredientes" [(ngModel)]="receita.ingredientes" required
                    class="w-full px-4 py-2 border rounded-lg"></textarea>
            </div>
            <div class="mb-4">
                <label for="porcao" class="block text-sm font-medium">Porções</label>
                <input type="number" name="porcao" id="porcao" class="text-blue-500 border rounded-lg">
            </div>
            <div class="mb-4">
                <label for="foto" class="block text-sm font-medium">URL da Foto:</label>
                <input type="text" id="foto" name="foto" [(ngModel)]="receita.foto" required
                    class="w-full px-4 py-2 border rounded-lg">
            </div>
            <div class="mb-4">
                <label for="privacidade" class="block text-sm font-medium">Selecione para tornar pública:</label>
                <input type="checkbox" name="privacidade" id="privacidade" class="text-blue-500 border rounded-lg">
            </div>
            <button type="submit"
                class="w-full bg-blue-500 text-white text-sm font-semibold py-2 rounded-lg hover:bg-blue-600">Cadastrar
                Receita</button>
        </form>
    </div>
</div>