@tailwind base;
@tailwind components;
@tailwind utilities;/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400&display=swap');

body {
    font-family: 'Barlow Condensed', sans-serif;
    /*background-color: #E5D5C6;*/
}

.button {
    width: 148px;
    height: 37px;
    flex-shrink: 0;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    border-radius: 5px;
    background: rgba(71, 60, 56, 0.85);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #ffff;
    
    font-weight: bold;
}

.button:hover {
    background: rgba(71, 60, 56, 0.664);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}